#c1{
    background-color: #eb8357 ;
}
#c2{
    background-color: #548dff ;
}
#c3{
    background-color:#d966c9 ;    
}
#c4{
    background-color: #8442ff ;    
}
#c5{
    background-color: #855324 ;    
}
#c6{
    background-color: #e37f54 ;    
}
#c7{
    background-color: #c9a326 ;    
}
#c8{
    background-color: #ffcc26 ;    
}
#c9{
    background-color: #2a8051;    
}
#c10{
    background-color: #d4aea7;